.react-datepicker {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border: none;
  transform: translate(-65px, 12px);
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 10%),
    0px 24px 38px 3px rgb(0 0 0 / 5%), 0px 9px 46px 8px rgb(0 0 0 / 2%);
}
.react-datepicker__header {
  width: 280px;
  height: 50px;
  background-color: white;
  border: none;
  margin: 10px;
  font-size: 15px;
}
.react-datepicker__day-names {
  margin-top: 10px;
}
.react-datepicker__day-name {
  margin: 0 9px;
  font-size: 12px;
  color: gray;
}
.react-datepicker__month {
  width: 280px;
}
.react-datepicker__week {
  width: 280px;
}
.react-datepicker__day {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 210px;
  height: 30px;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 black;
  cursor: pointer;
  font-size: 16px;
  color: gray;
  text-align: center;
  z-index: 1;
}
.react-datepicker__close-icon {
  display: none;
}

.react-datepicker__day {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #ef95b880;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: #ef95b880;
}

.react-datepicker__day--in-range:hover {
  background-color: rgba(237, 184, 204, 1);
}
